.productPageWrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 46%;
  gap: 0 4%;
  padding: 40px 30px;
  grid-template-areas:
    "mainImg info"
    "content info";
}

.mainImg {
  grid-area: mainImg;
}

.productTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.productPrice {
  font-weight: 600;
  font-size: 21px;
}

@media (max-width: 960px) {
  .productPageWrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "mainImg"
      "info"
      "content";
    & > * {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 520px) {
  .mainImg {
    width: 100%;
    height: auto;
  }
}
