.header_container {
  background-color: #1551e5;
  padding: 16px 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  width: 40%;
  display: flex;
  align-items: stretch;

  justify-content: space-between;
}
.input_wrapper {
  width: 80%;
  display: contents;
}
.search_button {
  padding: 10px 20px;
  background-color: #0e42c1;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}
.search_button_img {
  filter: invert(1);
}
.search_input {
  position: relative;
  background-color: #4677ef;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 20px;
  width: 100%;
  &::placeholder {
    color: #ffffff;
  }
}
@media (max-width: 768px) {
  .header_container {
    padding: 15px 15px;
    & .authLink {
      display: none;
    }
  }
  .search {
    width: 80%;
  }
}
