.contentWrapper {
  background-color: #4677ef;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
